@model IEnumerable<MusicApp2017.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h2>Artists</h2>

<p>
    <a asp-action="Create" class="btn btn-md btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="btn-group">
                <a asp-action="Edit" asp-route-id="@item.ArtistID" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ArtistID" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ArtistID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
