@model IEnumerable<MusicApp2017.Models.Album>

@{
    ViewData["Title"] = "Details";
}

<h3>Album Details</h3>

<div>
    <hr />

    <br />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Model.First().Title
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.First().ArtistID">@Model.First().Artist.Name</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            <a asp-controller="Genres" asp-action="Details" asp-route-id="@Model.First().GenreID">@Model.First().Genre.Name</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>
        <dd>
            <p>@Model.First().AverageRating</p>
            <form method="post" class="form-inline" asp-controller="Albums" asp-action="Rate" asp-route-id="@Model.First().AlbumID">
                <input type="hidden" name="AlbumID">
                <div class="form-group">
                    <select class="form-control input-sm" asp-for="Title">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <div class="form-group">
                        <input type="submit" value="Rate" class="btn btn-sm btn-info">
                    </div>
                </div>
            </form></dd>
    </dl>
    
</div>

<br />

<div class="btn-group">
    <a asp-action="Edit" asp-route-id="@Model.First().AlbumID" class="btn btn-lg btn-warning">Edit Album</a>
    <a asp-action="Index" asp-controller="Albums" class="btn btn-lg btn-info">Back to Albums</a>
</div>
